<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randstad Digital EET Homepage</title>
    <link rel="stylesheet" href="../static/homepage.css">


</head>
<body>
    <div class="registration_form">
        <h1> Randstad Digital </h1>
        <h2>Welcome to Effort Estimation Tool!</h2>
        <form>
            <table>
                    <tr>
                        <td>
                            <div class="container">
                                <p>Please select an option below to continue.</p> <br>
                                <div class="options">
                                    <button type= "submit"><a href="/register" class="register-button" >Register</a></button>
                                  
                                </div>
                                <div class="options">
                                    <button type= "submit">  <a href="/login" class="login-button" >Login</a></button>
                                </div>
                            </div>
                        </td>
                    </tr>   
            </table>
        </form>
    </div>
</body>
</html>